
	.content{width:1200px;margin:0 auto;}
		.headbj{height:160px; background:url(img/headbj.jpg) no-repeat center;}
		.head{height:160px;}
		.head .logo{width:600px; height:94px;float:left;padding-top:16px;}
		.head .logo h1{width:99px; height:52px; float:left;margin-top: 6px;margin-right: 18px;}
		.head .logo h1 img{width:97px; height:88px;float:left;margin-top: -10px;}
		.head .logo span{display: block;float:left;padding-top:8px;padding-bottom:12px; padding-left:0px;border-left:0px solid #e5e5e5;}
		.head .logo span em{display: block;font-size: 23px; color:#000000; font-weight: bold; line-height: 32px; margin-bottom: 8px; font-style:normal;}
		.head .logo span i{display: block;font-size: 14px; color:#515151; line-height: 18px; font-style:normal;}
		.head .phone{float:right;width:220px; height:78px;padding-top:32px;padding-left:54px; background:url(img/phone.png) no-repeat left top;}
		.head .phone span{display: block;font-size: 18px; line-height: 18px; color:#000000;}
		.head .phone span i{display: block;font-size: 24px; line-height: 24px; color:#000000; margin-top: 13px; font-family: Arial; font-style:normal;}
		.head .nav{height:50px;}
		.head .nav li{float:left;height:50px; line-height:46px;}
		.head .nav li a{font-size: 14px; color:#ffffff; border-left:1px solid #999999;padding:0 30px; border-right:1px solid #fffff;}
		.head .nav li.first a{ border-left:0;padding-left:62px;padding-right:33px; background:url(img/icon.png) no-repeat 32%;}
		.head .nav li.last a{border-right:0;}
		.head .nav li i{display: none; width:100%; height:3px; background:#ffffff;}
		.head .nav li.cur i,.head .nav li:hover i{display: block;}
	

        .ty-banner-1 {
            overflow: hidden;
            line-height: 0;
            text-align:center;
        }
        .ty-banner-1 img{
            visibility: hidden;
        }
        .ty-banner-1 img.show{
            visibility: visible;
        }
    

        .p1-search-1 {
            background: #f2f2f2;
            height: 82px;
            border-bottom: 1px solid #eee;
            overflow: hidden;
            font-size: 14px;
        }
        
        .p1-search-1 p {
            color: #444;
            line-height: 82px;
        }
        
        .p1-search-1 a {
            color: #444;
            display: inline-block;
            margin-right: 15px;
        }
        .mrkjs{width:1200px;margin:0 auto;}
        .p1-search-1-inp {
            width: 270px;
            height: 30px;
            border-radius: 20px;
            background: #fff;
            padding-left: 10px;
            margin-top: 28px;
        }
        
        .p1-search-1-inp input {
            border: 0;
        }
        
        .p1-search-1-inp1 {
            width: 224px;
            height: 30px;
            line-height: 30px;
            color: #a9a9a9;
            float: left;
        }
        
        .p1-search-1-inp2 {
            width: 30px;
            height: 30px;
            background: url(img/VISkins-p1.png) no-repeat -258px -936px;
            float: right;
            cursor: pointer;
        }
    

        .p12-curmbs-1 {
            font-size: 14px;
            border-bottom: 1px dashed #dcdcdc;
        }
        
        .p12-curblock{
            display: none;
        }
        .p12-curmbs-1 b {
            border-left: 10px solid #da251c;
            font-weight: normal;
            padding-left: 8px;
        }
        .p12-curmbs-1 i {
            font-style: normal;
        }
        
        .p12-curmbs-1 span {
            font-family: '宋体';
            padding: 0 5px;
            height: 46px;
            line-height: 46px;
        }
        .plc{width:1200px;margin:0 auto 15px;}
    

        .tl-fdh-02 {
            height: 55px;
            background: #fff;
            margin-bottom: 20px;
            overflow: hidden;width:1200px;margin:0 auto 20px;
        }
        
        .tl-fdh-02 li {
            width: 20%;
            height: 55px;
            font-size: 18px;
            line-height: 55px;
            text-align: center;
            float: left;
            border-right: 1px solid #eee;
            margin-right: -1px;
            background: #e4e4e4;
            cursor: pointer;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        
        .tl-fdh-02 li a {
            display: block;
            height: 55px;
            color: #a8a8a8;
        }
        
        .tl-fdh-02 li.sidenavcur,
        .tl-fdh-02 li:hover {
            background: url(img/p16-icon6.png) no-repeat bottom center #17494a;
            border-color: #17494a;
        }
        
        .tl-fdh-02 li.sidenavcur a,
        .tl-fdh-02 li:hover a {
            color: #fff;
        }
    

        .p12-aboutinfo-1{display: inline-block;width: 100%;background: #fff;margin-bottom: 38px;}
        .p12-aboutinfo-1-tit{height: 114px;line-height: 114px;font-size: 30px;text-align: center; color:#4b4a4a;}
        .p12-aboutinfo-1-tit span{font-size: 22px;color: #aaa;}
        /*.p12-aboutinfo-1-nr{padding:0 20px 20px;}*/
    

          .footer{height:280px; background:url(img/foot.jpg) repeat-x center;}
		   .foot{padding-top:2px;}
		   .foot .ftlogo{width:224px; height:204px; float:left;padding-top:72px;background:#FFF; margin-right: 72px;}
		   .foot .ftlogo h1{width:173px; height:91px;margin:0 auto 20px;}
		   .foot .ftlogo h1 img{width:173px; height:91px;}
		   .foot .ftlogo span{display: block; height:40px; text-align: center; font-size: 14px;color:#666666;}
		   .foot .ftnav{height:55px;padding-top:15px;float:left; margin-bottom: 2px;}
		   .foot .ftnav ul{width:865px; height:55px; position: relative;}
		   .foot .ftnav ul:before{width:865px; height:1px; background:#FFF; opacity: 0.2; content:""; position: absolute; left:0; bottom:0;}
		   .foot .ftnav li{float:left; height:55px; line-height: 55px;}
		   .foot .ftnav li a{font-size: 16px; color:#FFF;padding:0 20px;}
		   .foot .gsxx{padding-left:20px;width:370px;float:left;}
		   .foot .gsxx ul li{padding-left:38px;margin-top: 22px; font-size: 14px; height:17px; line-height: 17px;  color:#FFF;}
		   .foot .gsxx ul li.db1{background:url(img/db1.png) no-repeat left;}
		   .foot .gsxx ul li.db2{background:url(img/db2.png) no-repeat left;}
		   .foot .gsxx ul li.db3{background:url(img/db3.png) no-repeat left;}
		   .foot .gsxx ul li.db4{background:url(img/db4.png) no-repeat left;}
		   .foot .ewm{width:400px; float:right;margin-right: 43px;margin-top: 26px;}
		   .foot .ewm span{display: block; margin-right: 26px; width:106px;float:left;}
		    .foot .ewm span em{display:block;width:80px;height:80px; background:url(img/ewmbj.png) no-repeat center;padding:13px;}
		   .foot .ewm span em img{width:80px; height:80px;}
		   .foot .ewm span i{display: block;font-size: 14px; color:#FFFEFE; height:40px; line-height: 40px; text-align: center; font-style:normal;}
		   .foot .link{height:39px;}
		   .foot .link span{display: block; height:39px; line-height: 39px;width:600px; float:left;}
		   .foot .link span a{display: block; float:left;font-size: 14px; color:#666666; margin-right: 42px;}
		   .foot .link strong{display: block; float:right; height:30px; line-height: 30px; font-weight: normal; margin-right: 70px;}
		   .foot .link strong em{display: block;float:left;font-size: 14px; color:#666666; margin-left: 37px; font-style:normal;}
		   .foot .link strong em a{font-size: 14px; color:#666666;font-style:normal;}
	

        .client-2 {
            position: fixed;
            right: -170px;
            top: 50%;
            z-index: 900;
        }
        
        .client-2 li a {
            text-decoration: none;
        }
        .client-2 li {
            margin-top: 1px;
            clear: both;
            height: 62px;
            position: relative;
        }
        
        .client-2 li i {
            background: url(img/fx.png) no-repeat;
            display: block;
            width: 30px;
            height: 27px;
            margin: 0px auto;
            text-align: center;
        }
        
        .client-2 li p {
            height: 20px;
            font-size: 12px;
            line-height: 20px;
            overflow: hidden;
            text-align: center;
            color: #fff;
        }
        
        .client-2 .my-kefu-qq i {
            background-position: 4px 5px;
        }
        
        .client-2 .my-kefu-tel i {
            background-position: 0 -21px;
        }
        
        .client-2 .my-kefu-liuyan i {
            background-position: 4px -53px;
        }
        
        .client-2 .my-kefu-weixin i {
            background-position: -34px 4px;
        }
        
        .client-2 .my-kefu-weibo i {
            background-position: -30px -22px;
        }
        
        .client-2 .my-kefu-ftop {
            display: none;
        }
        
        .client-2 .my-kefu-ftop i {
               width: 33px;
    height: 31px;
    background-position: -23px -47px;
    background-size: 52px 82px;
        }
        .client-2 .my-kefu-ftop .my-kefu-main{
            padding-top: 6px;
        }
        
        .client-2 .my-kefu-left {
            float: left;
            width: 62px;
            height: 47px;
            position: relative;
        }
        
        .client-2 .my-kefu-tel-right {
            font-size: 16px;
            color: #fff;
            float: left;
            height: 24px;
            line-height: 22px;
            padding: 0 15px;
            border-left: 1px solid #fff;
            margin-top: 14px;
        }
        
        .client-2 .my-kefu-right {
            width: 20px;
        }
        
        .client-2 .my-kefu-tel-main {
            background: #17494a;
            color: #fff;
            height: 53px;
            width: 230px;
            padding:9px 0 0;
            float: left;
        }
        
        .client-2 .my-kefu-main {
            background: #17494a;
            width: 97px;
            height: 53px;
            position: relative;
            padding:9px 0 0;
            float: left;
        }
        
        .client-2 .my-kefu-weixin-pic {
            position: absolute;
            left: -130px;
            top: -24px;
            display: none;
            z-index: 333;
        }
        
        .my-kefu-weixin-pic img {
            width: 115px;
            height: 115px;
        }
    
	
.pingtai_list {margin-top:30px;}
    .pingtai_list .kk {width:33%;float:left;position:relative;margin-right: 0.5%;margin-bottom:34px;overflow:hidden; height:308px;}
        .pingtai_list .kk img {
        display:block;width:100%;height:250px;	-webkit-transition: all 0.36s;
	-ms-transition: all 0.36s;
	-moz-transition: all 0.36s;
	transition: all 0.36s}
        .pingtai_list .kk p {position:absolute;bottom:0px;left:0;height:58px;line-height:58px;text-align:center;color:#fff;font-size:14px; background-color:#17494a;width:100%; }
		.pingtai_list .kk p  a{color:#fff;font-size:14px; }
        .pingtai_list .kk:nth-child(3n) {
        margin-right:0;}
        .pingtai_list .kk:hover img{
           -webkit-transform: matrix(1.1, 0, 0, 1.1, 0, 0);
	-ms-transform: matrix(1.1, 0, 0, 1.1, 0, 0);
	-moz-transform: matrix(1.1, 0, 0, 1.1, 0, 0);
	transform: matrix(1.1, 0, 0, 1.1, 0, 0);
	-webkit-transition: all 0.36s;
	-ms-transition: all 0.36s;
	-moz-transition: all 0.36s;
	transition: all 0.36s
        
        
        }	
		
		
		 .tit {
        font-size: 32px;
        text-align: center;
        margin: 30px 0;
        background:url() no-repeat center -12px;
    }
	
	
.search{height:60px;background:#f5f5f5;}
.sea{height:60px;}
.sea span{display: block;width:700px;float:left;height:60px; line-height: 60px;}
.sea span i{display: block;font-size: 14px; color:#999999;float:left;}
.sea span a{display: block; float:left;font-size: 14px; color:#999999; margin-right: 10px;}
.sea p{width:312px; height:35px;float:right;padding-top: 11px; background:url() no-repeat bottom center;}
.sea p .txt{display:block;float:left;padding-left:20px;width:245px; height:35px; line-height:35px;font-size: 14px; color:#999999;padding-right:10px;border:0; background:0;}
.sea p .btn{width:18px; height:18px; border:0; background:url(img/btn.png) no-repeat center;margin-top: 9px; cursor: pointer;}